<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script type="text/javascript" src="js/vue.js" ></script>
	</head>
	<body>
		<div id="app">
			<!--{{msg}}-->
			<ul>
				<li v-for="(item,index) in list">
					<span>{{item.title}}</span>
					<span v-if="item.isShow">hot</span>
				</li>
				
				
			</ul>
		</div>
		<script>
			new Vue({
				el:"#app",
				data:{
					list:[
						{title:"11",isShow:true},
						{title:"12",isShow:false},
						{title:"13",isShow:true},
						{title:"14",isShow:false}
					]
				}
			})
		</script>
	</body>
</html>
